#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.form {
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.input-fields {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.input-label {
  margin-bottom: 8px;
}

.input {
  width: 180px;
  margin-bottom: 24px;
}

.submit-button {
  margin-top: 20px;
  display: block;
  padding: 10px;
  background-color: rgb(91, 181, 250);
}

.output-box {
  height: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
}
